.nav-bar {
  border-bottom: solid 1px;
  padding-bottom: 1rem;
}

.expenses-main {
  padding: 1rem 0;
}

.invoices-main {
  padding: 1rem 0;
}

.invoices-nav {
  display: flex;
  flex-direction: column;
}